*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.photobooth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  max-width: 60%;
}
